@CHARSET "UTF-8";

﻿body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input{ margin:0; padding:0;}

html {width:100%; font-family:'Heiti SC','Microsoft YaHei'; font-size: 100px; outline: 0; -webkit-text-size-adjust:none;}

body {width:100%; margin: 0; -webkit-user-select: none; position: relative; background-color:#eee;}

@font-face {
	/* font-properties */
	font-family: pictos;
	src:url(../font/myfont.TTC),  
	url(../font/myfont.TTC),
	url(../font/myfont.TTC); /* IE9 */
}

.font-face{
	font-family: pictos;
}

@font-face {
	/* font-properties */
	font-family: my-font;
	src: url(../font/myfont.TTC);
}

.font-face2{
	font-family: my-font;
	color: green;
}

a:hover,a:link,a:visited,a{ color:inherit; text-decoration:none;}

ul,li{list-style:none}

#_centent{padding-bottom:0.8rem;}

header{ position:relative; width:100%; height: 0.84rem; border-bottom:1px solid #d4d4d8; background-color: #fff;}

.head{ position:relative; width:100%; height:1.2rem; background-size:100% 2.2rem;background:rgb(12,152,194);}

.head-img{ position:absolute;left:0.1rem; width:0.7rem; height:0.7rem; border-radius:1rem; background-color:rgb(12,152,194);}

.head-dsb{ overflow:auto; margin:auto; position:absolute; top:0; left:0; bottom:0; right:0; width:1.4rem; height:0.5rem }

.head-dsb p{ font-size:0.31rem; color:#fff;}

.dsb-id{ margin-top:0.08rem;}

.nav{ width:100%; height:0.72rem; margin-top:0.26rem; background-color:#fff;}

.nav ul li{ position:relative; float:left; width:2.48rem; height:0.55rem; font-size:0.2rem; margin-top:0.085rem; line-height:0.55rem; text-align:center;}

.nav ul li p{ position:absolute; left:1.2rem; width:0.7rem;}

.pt-line{ border-left:1px solid #dddddd; border-right:1px solid #dddddd; }

.idt{ display:block; position:absolute; top:0.11rem; left:0.68rem; float:left; width:0.28rem; height:0.36rem; background:url(../images/indent.png) no-repeat; background-size:0.28rem 0.36rem;}

.clt{ display:block; position:absolute; top:0.11rem; left:0.68rem; float:left; width:0.39rem; height:0.35rem; background:url(../images/clt.png) no-repeat; background-size:0.39rem 0.35rem;}

.ps-lt{ width:100%; height:100%; background-color:#008000;}

.lt-dsb{ position:relative;width:100%; height:0.44rem; line-height:0.4rem; border-bottom:1px solid #e5e5e5;}

.lt-dsb p{ margin-left:0.2rem; font-size:0.22rem; color:#838383;}

.ps-lt-button{ width:100%; height:100%; background-color:black;border-radius:0.05rem 0.05rem;}

.lt-dsb-button{ position:relative;width:100%; height:0.44rem; line-height:0.4rem; border-bottom:1px solid #e5e5e5; text-align:center;}

.lt-dsb-button p{font-size:0.25rem; line-height:0.4rem; color:#ffffff;}

.lt-dsb-msg{ position:relative;width:100%; height:0.44rem; line-height:0.4rem; border-bottom:1px solid #e5e5e5; text-align:center;}

.lt-dsb-msg p{ font-size:0.25rem; line-height:0.4rem; color:white;}

.arr-right{ display:block; position:absolute; top:0.15rem; right:0.1rem; width:0.14rem; height:0.24rem; background:url(../images/arr-right.png) no-repeat; background-size:0.1rem 0.18rem;}

.arr-left{ display:block; position:absolute; left:1.5rem; height:0.3rem; top:-0.3rem;}

.arr-left input{width:2rem; height:0.3rem;font-size:0.18rem;  border:none; border-radius:0.01px; border:1px solid #DBDBDB ;}

.cl-bb{ border:none;}

.mt-1{ margin-top:0.5rem;}

.jg{ margin-bottom:0.8rem;}

footer{ position:fixed;bottom:0px;left:0px; margin-top:0.2rem; width:100%; height:0.7rem; padding-top:0.2rem; font-size:0.24rem;background:rgb(12,152,194);}

.mune{ float:left;margin-left:0.54rem; height:1rem; text-align:center;}

.mune p{ font-size:0.12rem; color:#656565;}

.mune img{width:80%; height:40%;}